.navbar {
  width: 100%;
  height: 10vh;
  background: #1c2826;
  color: #ee4266;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #ee4266;

  &-heading {
    h1 {
      margin-left: 20px;
      font-size: 38px;
      span {
        color: #f9c22e;
      }
    }
  }
  &-links {
    ul {
      display: flex;
      list-style: none;
    }

    a {
      color: #f3d9dc;
      text-decoration: none;
      margin: 0 10px;
      padding: 10px;
      background: lighten($color: #1c2826, $amount: 15);
      border-radius: 5px;
      font-size: 20px;
      transition: all 0.4s ease;

      &:hover {
        color: #ee4266;
      }
    }
  }
}
