.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ee4266;
  color: #f3d9dc;
  font-weight: bold;

  p {
    font-size: 18px;
    span {
      color: #f9c22e;
    }
  }
}
